In [24]:
# Task 1: Write a function that takes an integer HOURS and converts it to SECONDS.

In [14]:
def hours_to_seconds(hours):
    return hours*3600
print(hours_to_seconds(2))

7200

In [20]:
# Task 2: Given a list of numbers, write a program to turn every item of a list into its square.

In [22]:
def square_list(numbers):
    return [x**2 for x in numbers]
print(square_list([5,7,9,10]))

[25, 49, 81, 100]

In [26]:
# Task 3: Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

In [30]:
def merge_strings(s1, s2):
    result = ''
    i, j = 0, -1
    while i < len(s1) and abs(j) <= len(s2):
        result += s1[i]
        result += s2[j]
        i += 1
        j -= 1
    result += s1[i:] + s2[:j+1]  
    return result
print(merge_strings("13579", "08642"))

1234567890

In [32]:
# Task 4: Get the key of a minimum value from the given dictionary.

In [34]:
def key_of_min_value(a):
    return min(a, key=a.get)

sample_dict = {'a': 4, 'b': 6, 'c': 2}
print(key_of_min_value(sample_dict))

c

In [36]:
# Task 5: Write a program to calculate the sum of series up to n term.

In [52]:
def sum_series(b):
    total = 0
    num = 0
    for i in range(b):
        num = num * 10 + 1
        total += num
        print(f"Term {i+1}: {num}")
    return total
    
b = 4
result = sum_series(b)
print(f"\nSum of the series up to {b} terms is: {result}")

Term 1: 1
Term 2: 11
Term 3: 111
Term 4: 1111

Sum of the series up to 4 terms is: 1234

In [58]:
# Task 6: Calculate multiplication of two random float numbers (generate random number first)

In [60]:
import random
def multiply_random_floats():
    num1 = random.uniform(1.0, 10.0)
    num2 = random.uniform(1.0, 10.0)

    product = num1 * num2

    print(f"Random Float 1: {num1:.2f}")
    print(f"Random Float 2: {num2:.2f}")
    print(f"Product: {product:.2f}")

multiply_random_floats()

Random Float 1: 8.85
Random Float 2: 6.99
Product: 61.87